<!-- The meta tags 
    - <meta charset="UTF-8"> to tell any browser that this file is UTF-8 encoded (assuming that
        you use this encoding when editing or saving the file)
    - <meta http-equiv="X-UA-Compatible" content="IE=edge"/> to tell Microsoft Internet
        Explorer to use the latest rendering engine (edge).
    - <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
       minimum-scale=1.0" />
        The initial-scale property controls the zoom level when the page is first loaded. The maximum-scale, minimum-scale, and user-scalable properties control how users are allowed to zoom the page in or out.

    Defer : El atributo defer indica al navegador que no espere por el script. En lugar de ello, debe seguir procesando el HTML, construir el DOM. El script carga “en segundo plano” y se ejecuta cuando el DOM esta completo.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>IncaSale Support</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
  <meta name="description" content="Incasale är din shoppingdestination här hittar du ett stort utbud av produkter som är mode, barnkläder och för vuxen i alla storlekar, skor, hem, skönhetsprodukter, telefoner, tillbehör, datorer, elektronik, trädgård, leksaker, sport, bröllop. Vi erbjuder kvalitet till bästa pris på ett hållbart sätt."/>
  <meta name="keywords" content="Incasale, shoppa online, incasale.se, Mode, Kläder, Fashion,Barnkläder, Damkläder, Herrkläder, Underkläder, Fordon, Telefoner, Tillbehör, Datorer, Elektronik, Mode, Skönhet, Hälsa, Hem, Trädgård, Leksaker, Sport, Bröllop"/>  
  <meta name="robots" content="index, follow"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!--<link rel="stylesheet" type="text/css" href="/css/styles.css" media="all" /> -->
  <link rel="stylesheet" href="/css/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  <link rel="stylesheet" href="/css/fonts.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css" type="text/css" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
  <script type="text/javascript"src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- This library is used to change pages without losing the menu and header-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/functions.js" ></script>
</head>
<!-- The other body closes at the index.ejs  -->
<body>