<section class="home-section">
  <%- include('../partials/hometitle'); %>
  <section class="container">
    <img src="/img/home_img.png" alt="Incredible prices. Enjoy the diference">
    <!-- Contains the body for maintenance -->
  </section>
</section>



